STARIO_PORT = 8080
STARIO_TRACER = tty

LITESTREAM_DB_PATH = "./piccolochat.db"


LITESTREAM_REPLICAS_URL = "abs://@backups/stariodemo"  # i.e. abs://{name of stroage account}@{name of bucket}/{name of app}
LITESTREAM_AZURE_ACCOUNT_KEY = "asdkweefi3u0293ub0cb0213r0ioas"
